body{
    box-sizing: border-box;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;

}
img{
    width: 100%;
    display: block;
}

header{
    padding-top: 24px;
    padding-bottom: 25px;
}
#main{
    padding-top: 200px;
    padding-bottom: 200px;
}
#benefits{
    padding-top: 94px;
    padding-left: 94px;
}
#about{
    padding-left: 94px;
}
#team{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1600px;
}
#footer{
    padding-top: 60px;
    padding-bottom: 60px;
}