span{
    color: #2196F3;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
}
.logo{
    color: #000;
 font-family: Raleway;
 font-size: 26px;
  font-style: normal;
  font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
}
.ctudia{
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.portfolio{
    color: #212121;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 0.28px;
}
.kontakt{
    color: #212121;
 font-family: Roboto;
 font-size: 14px;
   font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 0.28px;
}
.com{
    color: #2196F3;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 0.28px;
}
.nom{
    color: #757575;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 0.28px;
}


#golova{
    background-color:#2F303A;
    width: 1600px;
 height: 600px;
 flex-shrink: 0;
}
.golova-nas{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.golova-button{
    border-radius: 4px;
 background: #2196F3;

 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 width: 216px;
 height: 50px;
 margin: 0 auto;
 display: block;
 flex-shrink: 0;
 color: #FFF;

 text-align: center;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 700;
 line-height: 30px; /* 187.5% */
 letter-spacing: 0.96px;
}


.perevag-k{
    color: #212121;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 700;
  line-height: normal;
 letter-spacing: 0.42px;
 text-transform: uppercase;
}
.perevag-g{
    color: #757575;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px; /* 171.429% */
 letter-spacing: 0.42px;
}

h2{
    color: #212121;
 text-align: center;
 font-family: Roboto;
 font-size: 36px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 1.08px;
}

#cek{
    width: 270px;
 height: 368px;
 flex-shrink: 0;
 border-radius: 0px 0px 4px 4px;
 background: #FFF;
}
.cek-l{
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.cek-u{
    color: #757575;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.logoo{
    color: #FFF;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
}

.comm{
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    width: 136px;
    height: 21px;
    flex-shrink: 0;
}
.nom{
    color: #757575;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px; /* 171.429% */
 letter-spacing: 0.42px;
 width: 136px;
 height: 21px;
 flex-shrink: 0;
}
.punkt{
    color: #FFF;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px; /* 171.429% */
 letter-spacing: 0.42px;
 width: 231px;
 height: 21px;
 flex-shrink: 0;
}
#pp{
    width: 1600px;
 height: 252px;
 flex-shrink: 0;
 background: #2F303A;
}
#ee{
    width: 1600px;
 height: 1680px;
 flex-shrink: 0;
 background: #F5F4FA;
}
.photo{
    width: 270px;
 height: 260px;
 flex-shrink: 0;
}
li {
    list-style-type: none;
    /* Убираем маркеры */
}


:root{ 
    --punkt: #FFF; 
    --nom: rgba(255, 255, 255, 0.60); 
    --cek-u: #757575; 
    --cek-l: #212121;
    --golova-button: rgba(0, 0, 0, 0.15);
    --golova:#2F303A;
    --ee: #F5F4FA;
    --com:#2196F3;
    --logo: #000;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}


